#! /bin/sh
#  /etc/init.d/shadowsocks

### BEGIN INIT INFO
# Provides:          shadowsocks
# Required-Start:    $all
# Required-Stop:     $all
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Starts shadowsocks
# Description:       Shadowsocks is a secured socks5 proxy, designed to protect your internet traffic.
### END INIT INFO

PIDFILE=/var/run/shadowsocks.pid

case "$1" in
  start)
    echo "Starting Shadowsocks"
    sudo -u {{ ansible_user_id }} -H /bin/bash -x {{ ansible_user_dir }}/ss-exec/start-server.sh > {{ ansible_user_dir }}/ss-exec/output.log 2>&1
    ;;
  stop)
    echo "Stopping Shadowsocks"
    sudo -u {{ ansible_user_id }} -H /bin/bash -x {{ ansible_user_dir }}/ss-exec/stop-server.sh > {{ ansible_user_dir }}/ss-exec/output.log 2>&1
    ;;
  restart)
    echo "Stopping Shadowsocks"
    sudo -u {{ ansible_user_id }} -H /bin/bash -x {{ ansible_user_dir }}/ss-exec/stop-server.sh > {{ ansible_user_dir }}/ss-exec/output.log 2>&1
    echo "Sleep 5 seconds"
    sleep 5
    echo "Staring Shadowsocks"
    sudo -u {{ ansible_user_id }} -H /bin/bash -x {{ ansible_user_dir }}/ss-exec/start-server.sh > {{ ansible_user_dir }}/ss-exec/output.log 2>&1
    ;;
  *)
    echo "Usage: /etc/init.d/shadowsocks {start|stop|restart}"
    exit 1
    ;;
esac

exit 0
