#! /bin/sh
#  /etc/init.d/shadowsocks

### BEGIN INIT INFO
# Provides:          shadowsocks
# Required-Start:    $all
# Required-Stop:     $all
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Starts shadowsocks
# Description:       Shadowsocks is a secured socks5 proxy, designed to protect your internet traffic.
### END INIT INFO

PIDFILE=/var/run/shadowsocks.pid

ss_start() {
    echo "Starting Shadowsocks"
    iptables -t nat -A PREROUTING -p tcp --dport {{ shadowsocks_server_outter_port }} -j REDIRECT --to-ports {{ shadowsocks_server_inner_port }}
    sudo -u {{ ansible_user_id }} -H /bin/bash -x {{ ansible_user_dir }}/ss-exec/start-server.sh > {{ ansible_user_dir }}/ss-exec/output.log 2>&1
}

ss_stop() {
    echo "Stopping Shadowsocks"
    iptables -t nat -D PREROUTING -p tcp --dport {{ shadowsocks_server_outter_port }} -j REDIRECT --to-ports {{ shadowsocks_server_inner_port }}
    sudo -u {{ ansible_user_id }} -H /bin/bash -x {{ ansible_user_dir }}/ss-exec/stop-server.sh > {{ ansible_user_dir }}/ss-exec/output.log 2>&1
}

case "$1" in
  start)
      ss_start
    ;;
  stop)
      ss_stop
    ;;
  restart)
      ss_stop
      echo "Sleep 5 seconds"
      sleep 5
      ss_start
    ;;
  *)
    echo "Usage: /etc/init.d/shadowsocks {start|stop|restart}"
    exit 1
    ;;
esac

exit 0
